<footer class="footer container-fluid text-right">
  <div class="attribution">Medical icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></div>
  <div class="attribution">Emoji provided free by <a href="http://emojione.com">EmojiOne</a></div>
</footer>
